@model Shop_Application.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarMark" class="control-label"></label>
                <input asp-for="CarMark" class="form-control" />
                <span asp-validation-for="CarMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfProduction" class="control-label"></label>
                <input asp-for="YearOfProduction" class="form-control" />
                <span asp-validation-for="YearOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfPicture" class="control-label"></label>
                <input asp-for="NameOfPicture" class="form-control" />
                <span asp-validation-for="NameOfPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarDescription" class="control-label"></label>
                <input asp-for="CarDescription" class="form-control" />
                <span asp-validation-for="CarDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceOfCar" class="control-label"></label>
                <input asp-for="PriceOfCar" class="form-control" />
                <span asp-validation-for="PriceOfCar" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WearOfCar" /> @Html.DisplayNameFor(model => model.WearOfCar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hide" /> @Html.DisplayNameFor(model => model.Hide)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
